<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <headder>
        <nav>
            <ul>
                <li><a href="/shop">Shop</a></li>
                <li><a href="add-product">Add Product</a></li>
            </ul>
        </nav>
    </headder>
    <main>
        <form action="/admin/product" method="POST">
            <label for="product">Add Product</label>
            <input type="text" id="product" name="product">
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>